---
import "./styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg" href="/order-summary/images/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		
		<title>Order Summary</title>
	</head>
	<body class="font-redhatdisplay bg-no-repeat bg-contain bg-[url(/images/pattern-background-mobile.svg)] bg-paleblue md:bg-[url(/order-summary/images/pattern-background-desktop.svg)] ">  

		<main class=" h-screen flex justify-center items-center  ">
		
		  
		  <article class="bg-white rounded-xl overflow-hidden shadow-lg shadow-desaturatedblue/30 w-[375px] md:w-[400px]">
	  
			<header>
			  <img src="/order-summary/images/illustration-hero.svg" alt="illustration hero"/>
			  
			</header>
	  
			<main class="p-10 space-y-6">
			  <section class="text-center px-4">
				<h1 class="text-2xl font-black text-darkblue mb-4"> Order Summary</h1>
				<p class="text-base text-desaturatedblue"> You can now listen to millions of songs, audiobooks, and podcasts on any 
				  device anywhere you like!
				</p>
			  </section>
	  
			  <section class="flex items-center justify-between bg-verypaleblue px-4 py-4 rounded-lg gap-4 ">
				<img src="/order-summary/images/icon-music.svg" alt="icon-music" />
				
				<div class="flex flex-col text-center mr-6">
				  <p class="font-extrabold text-md text-darkblue">Annual Plan</p>
				  <p class="text-sm text-desaturatedblue">$59.99/year</p>
				</div>
				  <a class="text-sm  text-brightblue underline hover:text-brightblue/70" href="">Change</a>
	  
			  </section>
			  
			  <footer class="flex flex-col items-center gap-6">
				<button class="bg-brightblue text-white text-md font-bold  py-4 rounded-lg w-full cursor-pointer hover:bg-brightblue/70 hover:shadow-brightblue/10 hover:shadow-xl "> Proceed to Payment</button>
	  
				<button class="font-extrabold text-md text-desaturatedblue cursor-pointer hover:text-darkblue">Cancel Order</button>
			  </footer>
			 
	  
			</main>
	  
		  </article>
		</main>
		
	  </body>
</html>
